## FinanceDataReader 란?

* 한국 주식 가격, 미국주식 가격, 지수, 환율, 암호화폐 가격, 종목 리스팅 등 금융 데이터 수집 라이브러리

* [FinanceData/FinanceDataReader: Financial data reader](https://github.com/FinanceData/FinanceDataReader)
* [FinanceDataReader 사용자 안내서 | FinanceData](https://financedata.github.io/posts/finance-data-reader-users-guide.html)
* https://pandas-datareader.readthedocs.io/en/latest/readers/index.html

## 설치

In [1]:
# 주석을 풀고 설치해 주세요. 주석을 푸는 방법은 아래 코드의 맨 앞에 있는 #을 지워주시면 됩니다.
# !pip install -U finance-datareader

## 라이브러리 불러오기

In [2]:
# 데이터 분석을 위해 pandas 불러오기
import pandas as pd

In [3]:
# FinanceDataReader 를 fdr 별칭으로 불러옵니다.
# 라이브러리의 version을 확인하고 싶을 때는 .__version__ 으로 확인합니다. 
import FinanceDataReader as fdr

fdr.__version__

'0.9.33'

## 한국거래소 상장종목 전체 가져오기

In [4]:
# 도움말을 보고자 할때는 ? 를 사용하고 소스코드를 볼 때는 ??를 사용합니다.
# 주피터 노트북에서는 함수나 메소드의 괄호 안에서 shift + tab 키를 누르면 도움말을 볼 수 있습니다.
fdr.StockListing??
# fdr.StockListing??

In [5]:
# KRX : KRX 종목 전체
# KOSPI : KOSPI 종목
# KOSDAQ : KOSDAQ 종목
# KONEX : KONEX 종목
# NASDAQ : 나스닥 종목
# NYSE : 뉴욕증권거래소 종목
# SP500 : S&P500 종목

In [6]:
# 한국거래소 상장종목 전체 가져오기
df = fdr.StockListing("krx")
df.head()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,전자부품 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,김세완,http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,"박대현, 손삼달",http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도

In [7]:
# 행과 열의 크기를 봅니다.(행, 열) 순
df.shape

(8025, 10)

In [8]:
# 전체 데이터프레임의 요약정보를 봅니다.
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8025 entries, 0 to 8024
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Symbol          8025 non-null   object
 1   Market          8025 non-null   object
 2   Name            8025 non-null   object
 3   Sector          2499 non-null   object
 4   Industry        2482 non-null   object
 5   ListingDate     2499 non-null   datetime64[ns]
 6   SettleMonth     2499 non-null   object
 7   Representative  2499 non-null   object
 8   HomePage        2347 non-null   object
 9   Region          2499 non-null   object
dtypes: datetime64[ns](1), object(9)
memory usage: 689.6+ KB

In [19]:
# 기술통계 값을 요약합니다.
df.describe(datetime_is_numeric = False)

C:\Users\computer\AppData\Local\Temp/ipykernel_9352/2386276611.py:2: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe(datetime_is_numeric = False)

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
count,8025,8025,8025,2499,2482,2499,2499,2499,2347,2499
unique,8025,3,8025,161,2327,1858,8,2384,2326,22
top,060310,KOSPI,3S,소프트웨어 개발 및 공급업,기업인수합병,1996-07-03 00:00:00,12월,-,http://www.gccorp.com,서울특별시
freq,1,6327,1,151,28,8,2438,4,2,1022
first,NaN,NaN,NaN,NaN,NaN,1956-03-03 00:00:00,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,2022-05-20 00:00:00,NaN,NaN,NaN,NaN

## 파일로 저장하고 불러오기

<img src="https://pandas.pydata.org/docs/_images/02_io_readwrite.svg">

In [10]:
# head 로 미리보기
df.head()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,전자부품 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,김세완,http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,"박대현, 손삼달",http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도

In [11]:
# to_csv로 Dataframe을 데이터 저장용 파일인 CSV 파일로 바꿀 수 있습니다.
df.to_csv("krx.csv", index = False)

In [12]:
# CSV로 저장된 파일을 다시 DataFrame으로 읽어서 확인해 봅니다.
pd.read_csv("krx.csv")

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,전자부품 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,김세완,http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,"박대현, 손삼달",http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도
...,...,...,...,...,...,...,...,...,...,...
8020,000545,KOSPI,흥국화재우,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8021,003280,KOSPI,흥아해운,해상 운송업,외항화물운송업(케미컬탱커),1976-06-29,12월,이환구,http://www.heung-a.com,서울특별시
8022,037440,KOSDAQ,희림,"건축기술, 엔지니어링 및 관련 기술 서비스업",설계 및 감리용역,2000-02-03,12월,"정영균, 이목운, 허철호 (각자대표)",http://www.heerim.com,서울특별시
8023,419890,KOSPI,히어로즈 단기채권ESG액티브,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8024,238490,KOSDAQ,힘스,특수 목적용 기계 제조업,"OLED Mask 인장기, OLED Mask 검사기 등",2017-07-20,12월,김주환,http://www.hims.co.kr,인천광역시

In [13]:
#삼성전자

df[df["Name"] == "삼성전자"]

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
4154,005930,KOSPI,삼성전자,통신 및 방송 장비 제조업,"IMT2000 서비스용 동기식 기지국,교환국장비,데이터단말기,동영상휴대폰,핵심칩,반...",1975-06-11,12월,"한종희, 경계현",http://www.sec.co.kr,경기도

In [14]:
df[df["Name"] == "카카오페이"]

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
5628,377300,KOSPI,카카오페이,금융 지원 서비스업,"간편결제, 간편송금 및 기타 금융서비스",2021-11-03,12월,신원근,http://www.kakaopay.com,경기도

In [15]:
# fdr.DataReader(item_code, year~)
fdr.DataReader("005930", "2021")

             Open   High    Low  Close    Volume    Change
Date
2021-01-04  81000  84400  80200  83000  38655276  0.024691
2021-01-05  81600  83900  81600  83900  35335669  0.010843
2021-01-06  83300  84500  82100  82200  42089013 -0.020262
2021-01-07  82800  84200  82700  82900  32644642  0.008516
2021-01-08  83300  90000  83000  88800  59013307  0.071170
...           ...    ...    ...    ...       ...       ...
2022-05-16  67100  67400  66100  66300  11937555 -0.003008
2022-05-17  66600  67900  66600  67600  15680447  0.019608
2022-05-18  68300  68700  67600  68100  16486319  0.007396
2022-05-19  66500  67600  66500  67500  17073727 -0.008811
2022-05-20  67800  68400  67700  68000  12023540  0.007407

[342 rows x 6 columns]

In [16]:
fdr.DataReader("AMD")

             Close    Open    High    Low       Volume  Change
Date
1980-03-17    3.15    3.15    3.30   3.13     219600.0  0.7308
1980-03-18    3.03    3.03    3.13   2.94     727200.0 -0.0381
1980-03-19    3.04    3.04    3.08   3.02     295200.0  0.0033
1980-03-20    3.01    3.01    3.06   3.01     159600.0 -0.0099
1980-03-21    2.92    2.92    3.02   2.91     130800.0 -0.0299
...            ...     ...     ...    ...          ...     ...
2022-05-16   94.24   93.86   98.17  93.08  130910000.0 -0.0093
2022-05-17  102.47   97.88  103.20  97.54  163320000.0  0.0873
2022-05-18   96.28  100.00  104.22  95.71  142180000.0 -0.0604
2022-05-19   96.67   96.69  100.69  95.09  141510000.0  0.0041
2022-05-20   93.50   98.39   98.64  88.26  164130000.0 -0.0328

[10636 rows x 6 columns]